<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <hr>
          <h5 class="add-link"><a href="/newevent">Add New Event</a></h5>

          {{#each Event}}
          <p>
          <p><strong>Restaurant/Venue: </strong><a href="events/{{id}}"> {{venue}} </a></p>
          <p><strong>Theme: </strong>{{theme}}</p>
          
          <p><strong>Date/Time: </strong>{{date_time}}</p>
          <hr>
            {{!-- <strong>Date and Time</strong>: {{date_time}}</p>
            <p> --}}
            {{!-- <strong>Address</strong>: {{address}}</p>
            <p>
            <strong>Neighborhood</strong>: {{neighborhood}}</p>
            <p>
            <strong>Food Type</strong>: {{food_type}}</p> --}}
          {{/each}}
            <h6><a href="/">← View Events</a></h6>
            
        </div>
      </div>
    </div>
  </div>
</div>
